<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:replace="~{layout :: content}">
	<h2>Topic List</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Topic Name</th>
            <th>Supervisor Id</th>
            <th>Topic Type</th>
            <th>Actions</th>
        </tr>
        <tr th:each="topic : ${topics}">
            <td th:text="${topic.id}"></td>
            <td th:text="${topic.topicName}"></td>
            <td th:text="${topic.supervisorId}"></td>
            <td th:text="${topic.topicType}"></td>
            <td>
                <a th:href="@{/topic/view/{id}(id=${topic.id})}">View</a>
                <a th:href="@{/topic/delete/{id}(id=${topic.id})}">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>