<!DOCTYPE html>
<html layout:decorate="~{admin_layout.html}">
<head>
</head>
<body>

<div layout:fragment="content">
	<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid my-2">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Add Topic</h1>
						</div>
						<div class="col-sm-6 text-right">
							<a href="/topic/all" class="btn btn-primary">Back</a>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- Main content -->
			<section class="content">
				<!-- Default box -->
				<div class="container-fluid">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-md-6">
									<div class="mb-3">
										<label for="name">Id</label>
										<input type="text" name="id" id="id" class="form-control"
											placeholder="Id">
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-3">
										<label for="email">Topic name</label>
										<input type="text" name="topicname" id="topicname" class="form-control"
											placeholder="Topic name">
									</div>
								</div>
								<div class="col-md-12">
									<div class="mb-3">
										<label for="email">Topic Description</label>
										<textarea class="form-control" name="topicdescription" id="topicdescription" placeholder="Topic Description"></textarea>
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-3">
										<label for="email">Supervisor ID</label>
										<input type="text" name="supervisorId" id="supervisorId" class="form-control"
											placeholder="Supervisor ID">
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-3">
										<label for="email">Topic Type</label>
										<input type="text" name="topicType" id="topicType" class="form-control"
											placeholder="Topic Type">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="pb-5 pt-3">
						<button type="submit" class="btn btn-primary">Create</button>
						<a href="/topic/all" class="btn btn-outline-dark ml-3">Cancel</a>
					</div>
				</div>
				<!-- /.card -->
			</section>
			<!-- /.content -->
</div>

</body>
</html>